*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62.5%;
  width: 100vw;

  // @include breakpointMax(xsmall) {
  //   font-size: 50%; // 1 rem = 8px, 8/16 = 0.5*100% = 50%
  // }

  // @include breakpointMax(small) {
  //   font-size: 50%; // 1 rem = 8px, 8/16 = 0.5*100% = 50%
  // }

  // @include breakpointMax(medium) {
  //   font-size: 56.25%; // 1 rem = 9px, 9/16 = 0.5625*100% = 56.25%
  // }

  @include breakpointMax(xlarge) {
    font-size: 45%;
  }
  @include breakpointMin(xxlarge) {
    font-size: 85%;
  }
}

body {
  box-sizing: inherit;
  width: 100%;
  height: 100%;
  position: relative;
}
body::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #979797;
}
