*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @include breakpointMax(small) {
    font-size: 28%;
  }
  @include breakpointMax(xmedium) {
    font-size: 37.5%;
  }
  @include breakpointMax(xlarge) {
    font-size: 45%;
  }
  @include breakpointMax(xxlarge) {
    font-size: 56.25%;
  }
  @include breakpointMin(xxxlarge) {
    font-size: 85%;
  }
}

body {
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  // width: 100vw;
}
body::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #979797;
}
