.btn {
  border: none;
  border-radius: 1rem;
  background-color: #d60505;
  cursor: pointer;
  transition: all 100ms ease-in-out;

  &--small {
    width: 13rem;
    height: 4rem;

    &:hover {
      background-color: #ad0000;
    }
  }

  &--main {
    a,
    p {
      font-family: $gpBold;
      font-size: 1.6rem;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.2rem;
      color: #fff;
    }

    align-self: center;
    width: 23rem;
    height: 6rem;

    &:hover {
      background-color: #ad0000;
    }
  }
}

.content {
  width: 100%;
  // z-index: 2000;
  position: relative;
  overflow: hidden;
}

.section {
  padding: 11rem 37.5rem 11rem 37.5rem;

  @include breakpointMax(xxlarge) {
    padding: 11rem 35rem;
  }
  @include breakpointMax(xlarge) {
    padding: 9rem 20rem;
  }
  @include breakpointMax(large) {
    padding: 8rem 8rem;
  }
  @include breakpointMax(xmedium) {
    padding: 10rem 5rem;
  }
  @include breakpointMax(small) {
    padding: 5rem 2rem;
  }
  // @include breakpointMax(xlarge) {
  //   padding: 10rem 30rem;
  // }

  &__heading-box {
    position: relative;
    @include flex-center;
    flex-direction: column;
  }
  &__highlighter {
    display: block;
    width: 51rem;
    height: 2rem;
    transform: translateY(-100%);

    @include breakpointMax(xmedium) {
      transform: translateY(0);
      height: 1.5rem;
    }
    @include breakpointMax(small) {
      transform: translateY(0);
      height: 1.5rem;
    }

    &--1 {
      width: 51rem;
      @include breakpointMax(xmedium) {
        width: 100%;
      }
      @include breakpointMax(small) {
        width: 38rem;
      }
    }
    &--2 {
      width: 59rem;
      @include breakpointMax(xmedium) {
        width: 55rem;
      }
      @include breakpointMax(small) {
        width: 38rem;
      }
    }
    &--3 {
      width: 79rem;
      @include breakpointMax(xmedium) {
        width: 55rem;
      }
      @include breakpointMax(small) {
        width: 38rem;
      }
    }
    &--5 {
      width: 85rem;
      @include breakpointMax(xmedium) {
        width: 55rem;
      }
      @include breakpointMax(small) {
        width: 38rem;
      }
    }
    &--6 {
      width: 19rem;
      @include breakpointMax(xmedium) {
        width: 55rem;
      }
      @include breakpointMax(small) {
        width: 38rem;
      }
    }
    &--7 {
      width: 66rem;
      @include breakpointMax(xmedium) {
        width: 55rem;
      }
      @include breakpointMax(small) {
        width: 38rem;
      }
    }
    &--8 {
      width: 54rem;
      @include breakpointMax(xmedium) {
        width: 55rem;
      }
      @include breakpointMax(small) {
        width: 38rem;
      }
    }

    @include breakpointMax(xsmall) {
      width: 30rem;
    }

    &--yellow {
      background-color: #ffd52b;
    }
    &--green {
      background-color: #32b228;
    }
    &--white {
      background-color: #ffffff;
    }
  }
  &--1 {
    // height: 80rem;

    &__link {
      font-size: 1.5rem;
      font-family: $gpMedium;
      letter-spacing: 0.035rem;
      margin-top: 1rem;
      text-decoration: none;
      color: #000;
      border-bottom: 1px solid #000000;
      cursor: pointer;
    }

    &__info-box {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      margin-top: 7.5rem;
      justify-items: center;
      column-gap: 1rem;

      @include breakpointMax(xmedium) {
        grid-template-rows: repeat(2, min-content);
        grid-template-columns: repeat(4, 1fr);
        column-gap: 0;
        row-gap: 5rem;
      }

      @include breakpointMax(small) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
        column-gap: 0;
        row-gap: 5rem;
      }

      .column {
        @include breakpointMax(xmedium) {
          &-1 {
            grid-column: 1 / 3;
          }
          &-2 {
            grid-column: 3 / 5;
          }
          &-3 {
            grid-column: 2 / 4;
          }
        }
        @include breakpointMax(small) {
          &-1 {
            grid-column: 1 / -1;
          }
          &-2 {
            grid-column: 1 / -1;
          }
          &-3 {
            grid-column: 1 / -1;
          }
        }
      }

      & > div {
        max-width: 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include breakpointMax(small) {
          max-width: 80%;
        }

        p {
          text-align: center;
          line-height: 1.4;
        }

        h5 {
          margin: 3rem 0 2.5rem 0;
        }
      }
      .circle-box {
        @include flex-center;
        position: relative;
      }
      .progress-bar--value {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include flex-center;
        font-family: $gpMedium;
        font-size: 26px;
      }

      .progress-bar__circle {
        transform-origin: center;
        transform: rotate(-90deg);
        transition: all 0.6s;
        z-index: 10;
      }
    }
  }

  &--2 {
    // height: 110rem;
    width: 100%;
    background: url(../img/2/bg-2.png) center no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__info-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 5rem;

      h4 {
        margin: 5rem 0 4rem 0;
      }
    }

    &__icon {
      width: 5rem;
      height: auto;
      margin-bottom: 2rem;

      @include breakpointMax(medium) {
        margin-bottom: 1rem;
      }
    }

    &__names {
      font-family: $gpMedium;
      font-size: 1.6rem;
      color: #fff;
      text-align: center;
    }

    &__grid {
      width: 100%;
      // height: 55rem;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(3, 1fr);
      row-gap: 2rem;
      column-gap: 2rem;

      @include breakpointMax(xmedium) {
        row-gap: 3rem;
        column-gap: 2rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, min-content);
      }
      @include breakpointMax(small) {
        row-gap: 3rem;
        column-gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
        // grid-template-rows: repeat(4, min-content);
      }

      &--item {
        flex-direction: column;
        @include flex-center;

        &17 {
          @include breakpointMax(xmedium) {
            grid-column: 2 / 3;
          }
          @include breakpointMax(small) {
            grid-column: 1 / 2;
          }
        }
      }
    }
  }

  &--3 {
    width: 100%;
    // height: 110rem;
    &__info-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 5rem;

      h4 {
        margin: 9rem 0 7rem 0;

        @include breakpointMax(xmedium) {
          margin: 5rem 0 4rem 0;
        }
      }

      & > div {
        p {
          text-align: center;
          line-height: 1.4;
        }
        h5 {
          margin: 3.5rem 0;
          text-align: center;
          max-width: 33rem;
          font-family: $gpBold;

          @include breakpointMax(xmedium) {
            margin: 2rem 0;
          }
        }
      }
    }

    &__names {
      font-family: $gpMedium;
      font-size: 1.6rem;
      color: #fff;
      text-align: center;
    }

    &__icon-box {
      width: 13rem;
      height: 13rem;
      border-radius: 20rem;
      border: 0.5rem solid #e8eff5;
      @include flex-center;
    }

    &__icon {
      width: 5rem;
      height: auto;
    }

    &__grid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;

      @include breakpointMax(xmedium) {
        grid-template-rows: repeat(2, min-content);
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1rem;
        row-gap: 5rem;
      }
      @include breakpointMax(medium) {
        display: flex;
        flex-direction: column;
      }

      &--item {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include breakpointMax(xmedium) {
          &:nth-child(1) {
            grid-column: 1 / 3;
          }
          &:nth-child(2) {
            grid-column: 3 / 5;
          }
          &:nth-child(3) {
            grid-column: 2 / 4;
          }
        }

        @include breakpointMax(medium) {
          margin-bottom: 4rem;
        }
        @include breakpointMax(xsmall) {
          margin-bottom: 1rem;
        }
      }
    }
  }

  &--4 {
    position: relative;
    // height: 155rem;
    width: 100vw;
    background: #fff;
    padding: 0;
    background: url(../img/4/bg-4.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;

    @include breakpointMax(xmedium) {
      background-size: 140%;
    }
    @include breakpointMax(small) {
      background: url(../img/parallax-2/parallax-2-bg-mobile.svg) center top no-repeat;
      background-size: 150%;
    }
    @include breakpointMax(xsmall) {
      background-size: 170%;
    }

    &__heading-box {
      @include flex-center;
      width: 29rem;
      height: 6rem;
      background-color: #008aff;
      transform: rotate(-3deg) translateX(10%);
      box-shadow: 0.5rem 0.5rem 0 #00000056;

      @include breakpointMax(small) {
        width: 23rem;
        height: 5rem;
      }
      @include breakpointMax(xsmall) {
        width: 20rem;
        height: 4rem;
      }
    }

    &__big-txt {
      font-family: $gpBlack;
      font-size: 6rem;
      margin-top: 1rem;
      color: #fff;
      text-align: center;
      
      @include breakpointMax(xsmall) {
        font-size: 5rem;
      }
    }

    &__paragraph {
      font-family: $gpLight;
      font-size: 1.6rem;
      color: #fff;
      line-height: 1.5;
      letter-spacing: 0.04rem;
      max-width: 50rem;
      margin-bottom: 3rem;

      @include breakpointMax(xsmall) {
        max-width: 20rem;
        font-size: 1.4rem;
        word-wrap: normal;
        margin-bottom: 1rem;
      }
    }
    .road {
      position: absolute;
      top: 0;
      left: 70%;
      transform: translatex(-70%);
      z-index: 1;
      width: 72rem;
      height: 64rem;
      background-color: #a55eea;
      background: url(../img/4/road.svg) no-repeat;
      background-position: center;
      background-size: 99%;

      @include breakpointMax(xmedium) {
        background-size: 70%;
        left: 18%;
        transform: translatex(0);
      }
      @include breakpointMax(medium) {
        background-size: 70%;
        left: 0%;
        transform: translatex(0);
      }
      @include breakpointMax(medium) {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url(../img/4/road-mobile.svg) center no-repeat;
        background-size: 70%;
      }
      @include breakpointMax(small) {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        // background: url(../img/4/road-mobile.svg) no-repeat;
        background-size: 100%;
      }

      &__container {
        margin: 65rem 0 0 0;
        position: relative;
        display: flex;
        // justify-content: center;
        flex-direction: column;
        width: 140rem;
        height: 90rem;

        @include breakpointMax(xlarge) {
          margin: 55rem 0 0 0;
        }
        @include breakpointMax(xmedium) {
          margin: 45rem 0 0 0;
        }
        @include breakpointMax(small) {
          max-width: 414px;
          margin: 45rem 0 0 0;
        }
        @include breakpointMax(xsmall) {
          max-width: 360px;
          margin: 37rem 0 0 0;
        }

        .text {
          z-index: 10;
          display: flex;
          flex-direction: column;

          &-1 {
            margin: 0 0 12rem 70rem;
            text-align: left;
            @include breakpointMax(xmedium) {
              margin: 9rem 0 4rem 40rem;
            }
            @include breakpointMax(medium) {
              margin: 5rem 4rem 18rem 22rem;
            }
            @include breakpointMax(small) {
              margin: 5rem 2rem 12rem 9rem;
              text-align: center;
            }
            @include breakpointMax(xsmall) {
              margin: 7rem 2rem 12rem 9rem;
            }
          }
          &-2 {
            margin: 0 75rem 30rem 0;
            align-self: flex-end;
            text-align: right;
            @include breakpointMax(xmedium) {
              margin: 0 45rem 17rem 0;
            }
            @include breakpointMax(medium) {
              margin: 0 18rem 26rem 2rem;
            }
            @include breakpointMax(small) {
              margin: 0 8rem 20rem 2rem;
              text-align: center;
            }
            @include breakpointMax(xsmall) {
              margin: 0 8rem 14rem 2rem;
            }
          }
          &-3 {
            margin-right: 4rem;
            text-align: center;
            align-items: center;
            @include breakpointMax(xmedium) {
              margin-right: 7rem;
            }
            @include breakpointMax(medium) {
              margin: 0 2rem 0 20rem;
              text-align: left;
              align-items: stretch;
            }
            @include breakpointMax(small) {
              margin: 0 2rem 0 8rem;
              text-align: center;
              align-items: center;
            }
            @include breakpointMax(xsmall) {
              margin: 0 2rem 0 8rem;
            }
          }

          h2 {
            font-family: "GothBold", sans-serif;
            font-size: 3rem;
            // width: 100%;
            // margin-bottom: 3rem;

            @include breakpointMax(small) {
              font-size: 2.4rem;
              margin-bottom: 1rem;
            }
          }
          p {
            color: #000;
            font-family: $gpLight;
            font-size: 1.7rem;
            line-height: 1.4;
            max-width: 51rem;
            margin-right: 0;

            @include breakpointMax(xmedium) {
              max-width: 45rem;
            }
            @include breakpointMax(xsmall) {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }

  &--5 {
    // height: 67rem;
    background: url(../img/5/bg-5.png) center no-repeat;
    background-size: cover;
    @include flex-center;
    justify-content: flex-start;
    flex-direction: column;

    &__info-box {
      width: 100%;
    }

    &__paragraph {
      font-size: 1.6rem;
      text-align: center;
      margin: 3.5rem 0 6.5rem 0;

      @include breakpointMax(small) {
        margin: 2rem 0 4rem 0;
      }
    }

    &__grid {
      width: 100%;
      display: grid;
      column-gap: 4.5rem;
      row-gap: 4.5rem;
      grid-template-columns: repeat(6, minmax(13rem, 1fr));

      @include breakpointMax(xmedium) {
        grid-template-columns: repeat(4, 1fr);
      }

      @include breakpointMax(medium) {
        column-gap: 2rem;
        row-gap: 2rem;
      }

      @include breakpointMax(small) {
        grid-template-columns: repeat(2, 1fr);
      }

      &--item {
        @include flex-center;
        flex-direction: column;

        &-5 {
          @include breakpointMax(xmedium) {
            grid-column: 2 / 3;
          }
          @include breakpointMax(small) {
            grid-column: 1 / 2;
          }
        }
        &-6 {
          @include breakpointMax(xmedium) {
            grid-column: 3 / 4;
          }
          @include breakpointMax(small) {
            grid-column: 2 / 3;
          }
        }
      }
    }

    &__icon {
      &-box {
        width: 12rem;
        height: 7rem;
        background-color: #fff;
        @include flex-center;
      }

      &-name {
        text-align: center;
        font-size: 1.6rem;
        font-family: "GothMedium", sans-serif;
        margin-top: 1.5rem;
      }

      width: 5rem;
      height: 5rem;
    }

    &__heading {
      font-size: 2.3rem;
      font-family: "GothBold", sans-serif;
      letter-spacing: 25;
      margin: 7rem 0 0 0;
    }
  }

  &--6 {
    // height: 97.5rem;
    padding-left: 20rem;
    padding-right: 20rem;

    @include breakpointMax(xmedium) {
      padding-left: 7rem;
      padding-right: 7rem;
    }
    @include breakpointMax(medium) {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    &__info {
      font-size: 2.2rem;
      line-height: 1.4;
      font-family: $gpLight;
      margin: 4rem 0 4rem 0;

      @include breakpointMax(xsmall) {
        font-size: 1.8rem;
      }
    }

    .plan-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 1rem;
      display: none;

      @include breakpointMax(xmedium) {
        display: flex;
        flex-direction: column;
      }
    }

    ///////////////////////// table

    .table {
      width: 100%;
      margin: 0;
      padding: 0;
      box-sizing: border-box;

      @include breakpointMax(xmedium) {
        display: none;
      }
    }

    .row {
      height: 7rem;

      &:not(:last-child) {
        td {
          border-bottom: 0.1rem solid #e8e8e8;
        }
      }
    }

    .col {
      &-5 {
        border-left: 0.5rem solid #e8e8e8;
        border-right: 0.5rem solid #e8e8e8;
        &--start {
          border-top: 0.5rem solid #e8e8e8;
        }
        &--end {
          border-bottom: 0.5rem solid #e8e8e8;
        }
      }

      &-sm {
        width: 18rem;
        // background: #e67e22;

        &__content {
          @include flex-center;

          h3 {
            font-family: $gpBlack;
            font-size: 1.8rem;
          }
        }

        &__icon {
          &--check {
            width: 2.6rem;
            height: 2rem;
          }

          &--not {
            width: 2rem;
            height: 2rem;
          }
        }

        &__link {
          font-family: $gpMedium;
          font-size: 1.3rem;
          color: #e52121;
          text-decoration: none;
          border: none;
          border-bottom: 1px solid #e52121;
        }

        &__headliner {
          position: relative;

          &-box {
            @include flex-center;
            transform: rotate(-11deg);
            position: absolute;
            top: -5rem;
            left: -3rem;
            width: 19rem;
            height: 4rem;
            background-color: #008aff;
            font-family: $gpBold;
            color: #fff;
            font-size: 1.2rem;
          }
        }
      }

      &-bg {
        width: 40rem;

        &__text {
          font-family: $gpLight;
          font-size: 1.5rem;
          color: #4f4f4f;
        }
      }
    }

    .user-icon {
      width: 15rem;
      height: 15rem;
      &__box {
        width: 100%;
        height: 21rem;
        @include flex-center;
        background-color: #44a9ff;
        // background-color: #FFD400;
      }
    }

    .plan {
      background-color: #007feb;
      // background-color: #FDBA12;
      width: 100%;
      height: 7rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 3rem;
      cursor: pointer;
      z-index: 100;
      transition: height 0.4s;

      &-box {
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
          margin-top: 4rem;
        }

        @include breakpointMax(xmedium) {
          margin-top: 4rem;
        }
        @include breakpointMax(small) {
          width: 100%;
        }
      }

      &__name {
        font-family: $gpBold;
        font-weight: 700;
        font-size: 2rem;
        width: 100%;
        text-align: center;
        color: white;

        &::selection {
          user-select: none;
        }

        @include breakpointMax(xmedium) {
          font-size: 2rem;
        }
      }

      &__icon {
        width: 3rem;
        height: 1.7rem;
        transition: all 0.3s ease-in-out;
        &--closed {
          fill: #e2ecf5;
          transform: rotate(180deg);
        }
      }
    }

    .feature {
      width: 100%;
      height: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #e2ecf5;
      z-index: 10;
      overflow: hidden;
      transition: height 0.4s, padding-top 0.4s, padding-bottom 0.4s,
        padding-left 0s, padding-right 0s;
      display: flex;
      flex-direction: column;

      &__row {
        display: grid;
        grid-template-columns: min-content 1fr;

        align-items: center;
        padding: 0 1rem;

        &:not(:last-child) {
          margin-bottom: 2rem;
        }
      }

      &__text {
        display: block;
        font-family: $gpLight;
        font-weight: 300;
        line-height: 1.3;
        font-size: 1.4rem;
        z-index: 10;
        transition: all 0.4s 0.4s, color 0.2s 0s;
      }
    }

    .icon-check {
      width: 2.6rem;
      height: 2rem;
      margin: 0 1rem;
      transition: visibility 0s;
      @include breakpointMax(xsmall) {
        width: 1.8rem;
        height: 1.4rem;
        margin: 0 .6rem;
      }
    }

    .icon-not {
      width: 2rem;
      height: 2rem;
      margin: 0 1.3rem;
      transition: visibility 0s;
      @include breakpointMax(xsmall) {
        width: 1.4rem;
        height: 1.4rem;
        margin: 0 .8rem;
      }
    }
  }

  &--7 {
    //height: 70rem;
    background: url(../img/7/bg-7.png), #008aff;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpointMax(xmedium) {
      align-items: stretch;
      padding-left: 8rem;
      padding-right: 8rem;
    }
    @include breakpointMax(small) {
      align-items: stretch;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    &__info-box {
      width: 100%;
    }
    .question {
      width: 100%;
      height: 7rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #fff;
      padding: 0 3rem;
      cursor: pointer;
      z-index: 100;
      transition: height 0.4s;

      &:not(:last-child) {
        border-bottom: 1px solid #e1ebf5;
      }

      &s-box {
        display: flex;
        flex-direction: column;
        margin-top: 10rem;

        @include breakpointMax(xmedium) {
          margin-top: 4rem;
        }
        @include breakpointMax(small) {
          width: 100%;
        }
      }

      &__name {
        font-family: $gpBold;
        font-size: 2.6rem;

        @include breakpointMax(xmedium) {
          font-size: 2rem;
        }
        @include breakpointMax(small) {
          font-size: 1.8rem;
        }
        @include breakpointMax(xsmall) {
          font-size: 1.6rem;
        }
      }

      &__icon {
        width: 3rem;
        height: 1.7rem;
        transition: all 0.3s ease-in-out;

        &--closed {
          fill: #e2ecf5;
          transform: rotate(180deg);
        }
      }
    }

    .answer {
      width: 100%;
      // height: 0;
      @include flex-center;
      background-color: #e2ecf5;
      z-index: 10;
      overflow: hidden;
      transition: height 0.4s, padding-top 0.4s, padding-bottom 0.4s,
        padding-left 0s, padding-right 0s;

      &__text {
        display: block;
        font-family: $gpLight;
        line-height: 1.3;
        font-size: 1.8rem;
        z-index: 10;
        transition: all 0.4s 0.4s, color 0s 0s;
        padding: 0 3rem;

        @include breakpointMax(small) {
          font-size: 1.5rem;
        }
        @include breakpointMax(xsmall) {
          font-size: 1.4rem;
          text-align: justify;
        }
      }
    }
  }

  &--8 {
    // padding-bottom: 10rem;
    // height: 165rem;
    position: relative;

    &__info-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 100;
    }

    &__info {
      max-width: 95rem;
    }
    &__text {
      font-family: $gpLight;
      font-size: 1.8rem;
      line-height: 1.3;

      @include breakpointMax(small) {
        font-size: 1.6rem;
      }
      @include breakpointMax(xsmall) {
        font-size: 1.4rem;
      }
    }

    &__logo {
      margin: 5rem 0;
    }

    &__form {
      margin-top: 10rem;
      @include breakpointMax(xmedium) {
        margin-top: 4rem;
      }

      &--heading {
        font-size: 3rem;
        font-family: $gpBlack;
        margin-bottom: 4rem;

        @include breakpointMax(small) {
          margin-bottom: 2rem;
        }
      }

      &--text {
        font-family: $gpLight;
        font-size: 1.8rem;
        margin-bottom: 6rem;

        @include breakpointMax(small) {
          margin-bottom: 3rem;
          font-size: 1.6rem;
        }
        @include breakpointMax(xsmall) {
          margin-bottom: 2rem;
          font-size: 1.4rem;
        }
      }

      &--grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        justify-items: center;

        @include breakpointMax(small) {
          grid-template-columns: 1fr;
          grid-template-rows: repeat(3, min-content);
        }

        .col {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .icon-box {
          @include flex-center;
          width: 8rem;
          height: 8rem;
          border-radius: 10rem;
          background: #fff;
          border: 0.4rem solid #e8e8e8;

          .icon {
            width: 28px;
            height: 28px;
            &-1 {
              fill: #43a8f6;
            }
            &-2 {
              fill: #37bb0f;
            }
            &-3 {
              fill: #d60505;
            }
          }
        }

        .link {
          color: #000;
          text-decoration: none;
          border: none;
          margin: 3rem 0 5rem 0;

          @include breakpointMax(small) {
            margin: 1rem 0 2rem 0;
          }
        }
      }
    }
  }
}

.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, min-content);
  row-gap: 3rem;
  column-gap: 3rem;

  font-family: $gpLight;

  @include breakpointMax(xmedium) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, min-content);
    justify-items: center;
  }

  textarea {
    resize: none;
    grid-column: 1 / 4;
    width: 100%;
    height: 19rem;
    border: 0.4rem solid #e8e8e8;
    padding: 2rem;
    font-size: 1.5rem;

    &::placeholder {
      font-family: $gpLight;
    }

    @include breakpointMax(xmedium) {
      grid-column: 1 / -1;
      width: 90%;
    }
  }

  &--btn {
    font-family: $gpBold;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2rem;
    color: #fff;

    justify-self: center;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    margin-top: 2rem;

    @include breakpointMax(xmedium) {
      grid-column: 1 / -1;
      grid-row: 6 / 7;
    }
  }
}
.input {
  height: 5rem;
  border: 0.4rem solid #e8e8e8;
  padding: 2rem;
  font-size: 1.5rem;

  &::placeholder {
    font-family: $gpLight;
  }

  &--big {
    // width: 87rem;
    grid-column: 1 / 4;

    @include breakpointMax(xmedium) {
      width: 90%;
      grid-column: 1 / -1;
    }
  }
  &--small {
    // width: 27rem;

    @include breakpointMax(xmedium) {
      width: 90%;
      grid-column: 1 / -1;
    }
  }
}

.popup {
  width: 50rem;
  height: 60rem;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem min-content 1fr;
  z-index: 10000;
  // padding: 0 2rem;

  @include breakpointMax(small) {
    width: 95vw;
  }

  &__bg-close {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
  }

  &__container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 11000;
    @include flex-center;
    background: rgba(0, 0, 0, 0.281);
    display: none;
  }

  .close {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2rem;
    cursor: pointer;
    &-icon {
      width: 2rem;
      height: 2rem;
    }
  }

  h5 {
    font-family: $gpBold;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-family: $gpMedium;

    @include breakpointMax(small) {
      padding: 0 4rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 3rem 0 2rem 0;
    justify-content: center;
  }

  &__input {
    // width: 35rem;
    width: 80%;
    margin-top: 0;
    margin-bottom: 2rem;

    &:nth-child(5) {
      width: 50%;
    }
  }
}

.footer {
  width: 100%;
  height: 22rem;
  background-color: #ffd52a;
  overflow: hidden;

  @include flex-center;
  flex-direction: column;

  &__link {
    color: #000;
    text-decoration: none;
    border: none;
    font-size: 1.6rem;
    font-family: $gpMedium;
  }

  &__logo {
    margin: 2rem 0 3rem 0;
    width: 17rem;
    height: 7.5rem;

    @include breakpointMax(xlarge) {
      width: 14rem;
      height: 6rem;
    }
  }

  &__copy {
    line-height: 1.4;

    span {
      font-family: $gpBold;
    }
  }
}
