.btn {
  &--main {
    a {
      font-family: "GothBold", sans-serif;
      font-size: 1.6rem;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.2rem;
      color: #fff;
    }

    border: none;
    border-radius: 1rem;
    align-self: center;
    width: 23rem;
    height: 6rem;
    background-color: #d60505;
    cursor: pointer;
    transition: all 100ms ease-in-out;

    &:hover {
      background-color: #ad0000;
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #000;

    &--red {
      color: #d60505;
      font-family: "GothBold", sans-serif;
    }
  }
}

.content {
  width: 100%;
}

.section {
  padding: 12rem 37.5rem 0 37.5rem;

  &__heading-box {
    position: relative;
    @include flex-center;
    flex-direction: column;
  }
  &__highlighter {
    display: block;
    width: 51rem;
    height: 2rem;
    transform: translateY(-100%);

    &--yellow {
      background-color: #ffd52b;
    }
    &--green {
      background-color: #32b228;
    }
    &--white {
      background-color: #ffffff;
    }
  }
  &--1 {
    height: 80rem;

    &__info-box {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      margin-top: 7.5rem;
      justify-items: center;

      & > div {
        max-width: 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          text-align: center;
          line-height: 1.4;
        }

        h5 {
          margin: 3rem 0 2.5rem 0;
        }
      }
      .progress-bar {
        width: 13rem;
        height: 13rem;
      }
    }
  }

  &--2 {
    height: 110rem;
    width: 100%;
    background: url(../img/bg-2.png) center no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__info-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 5rem;

      h4 {
        margin: 5rem 0 4rem 0;
      }
    }

    &__icon {
      width: 5rem;
      height: auto;
      margin-bottom: 2rem;
    }

    &__names {
      font-family: "GothMedium", sans-serif;
      font-size: 1.6rem;
      color: #fff;
      text-align: center;
    }

    &__grid {
      width: 100%;
      height: 55rem;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(3, 1fr);

      &--item {
        flex-direction: column;
        @include flex-center;
      }
    }
  }

  &--3 {
    width: 100%;
    height: 110rem;

    &__info-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 5rem;

      h4 {
        margin: 9rem 0 3.5rem 0;
      }

      & > div {
        p {
          text-align: center;
          line-height: 1.4;
        }
        h5 {
          margin: 3.5rem 0;
          text-align: center;
          max-width: 33rem;
          font-family: "GothBold", sans-serif;
        }
      }
    }

    &__names {
      font-family: "GothMedium", sans-serif;
      font-size: 1.6rem;
      color: #fff;
      text-align: center;
    }

    &__icon-box {
      width: 13rem;
      height: 13rem;
      border-radius: 20rem;
      border: 0.5rem solid #e8eff5;
      @include flex-center;
    }

    &__icon {
      width: 5rem;
      height: auto;
    }

    &__grid {
      width: 100%;
      height: 40rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;

      &--item {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &--4 {
    position: relative;
    height: 155rem;
    width: 100vw;
    background: #fff;
    padding: 0;
    background: url(../img/4/bg-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;

    &__heading-box {
      @include flex-center;
      width: 31rem;
      height: 6.5rem;
      background-color: #008aff;
      transform: rotate(-5deg) translateX(10%);
      box-shadow: 0.5rem 0.5rem 0 #00000056;
    }

    &__big-txt {
      font-family: "GothBlack", sans-serif;
      font-size: 60px;
      margin-top: 2rem;
      color: #fff;
    }

    .road {
      margin: 55rem 0 0 20%;
      width: 115rem;
      height: 85rem;
      // background: url(../img/4/road.png) center no-repeat;
      // background-size: 70%;
      position: relative;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);

      &__background {
        z-index: -1;
        width: 725px;
        height: 574px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .pin {
      width: 62px;
      height: 86px;

      &-1 {
        margin: 6rem 0 0 24.1rem;
      }
      &-2 {
        margin: 9.4rem 55.4rem 0 0;
      }
      &-3 {
        margin: 16rem 0 0 38.5rem;
      }
    }
    .row {
      display: grid;

      grid-template-rows: 1fr;

      &-left {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
      &-right {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
      &-column {
        margin-bottom: 5rem;
      }

      &-1 {
        grid-template-columns: min-content 1fr;
      }
      &-2 {
        grid-template-columns: 1fr min-content;
        grid-template-rows: 1fr;
      }
      &-3 {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
      }
    }

    .text {
      width: 100%;
      height: 100%;

      &-1 {
        text-align: left;
        padding: 7rem 0 0 11rem;
      }
      &-2 {
        text-align: right;
        padding: 7rem 11rem 0 0;
      }
      &-3 {
        display: flex;
        // justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-right: 33rem;
      }

      h2 {
        font-family: "GothBold", sans-serif;
        font-size: 30px;
        margin-bottom: 3rem;
      }
      p {
        color: #000;
        font-family: "GothLight", sans-serif;
        font-size: 1.7rem;
        line-height: 1.4;
        max-width: 510px;
      }
    }
  }

  .parallax-2 {
    &__container {
      position: absolute;
      top: -11rem;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: url(../img/parallax-2/parallax-2_bg.png);
      background-size: 100%;
      @include flex-center;
      // display: none;
    }

    position: relative;
    width: 100%;
    height: 100%;
    @include flex-center;

    & > div {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 3;
      @include flex-center;
      flex-direction: column;
      //background-size: 55%;
    }

    & > div:nth-child(3) {
      padding-top: 20rem;
      justify-content: flex-start;
    }
  }

  &--5 {
    height: 67rem;
    background: url(../img/bg-5.png) center no-repeat;
    background-size: cover;
    @include flex-center;
    justify-content: flex-start;
    flex-direction: column;

    &__paragraph {
      font-size: 1.6rem;
      text-align: center;
      margin: 3.5rem 0 6.5rem 0;
    }

    &__grid {
      display: grid;
      column-gap: 4.5rem;
      grid-template-columns: repeat(7, min-content);
    }

    &__icon {
      &-box {
        width: 12rem;
        height: 7rem;
        background-color: #fff;
        @include flex-center;
        flex-direction: column;
      }

      &-name {
        text-align: center;
        font-size: 1.6rem;
        font-family: 'GothMedium', sans-serif;
        margin-top: 1.5rem;
      }

      width: 5rem;
      height: 5rem;
    }

    &__heading {
      font-size: 2.3rem;
      font-family: 'GothBold', sans-serif;
      letter-spacing: 25;
      margin: 7rem 0 12rem 0;
    }
  }

  &--6 {
  }

  &--7 {
  }
}
