.btn {
  border: none;
  border-radius: 1rem;
  background-color: #d60505;
  cursor: pointer;
  transition: all 100ms ease-in-out;

  &--small {
    width: 13rem;
    height: 4rem;
  }

  &--main {
    a {
      font-family: $gpBold;
      font-size: 1.6rem;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.2rem;
      color: #fff;
    }

    align-self: center;
    width: 23rem;
    height: 6rem;

    &:hover {
      background-color: #ad0000;
    }
  }
}

.content {
  height: 100%;
  width: 100%;
  // z-index: 2000;
  position: relative;
  overflow: hidden;
  scroll-behavior: smooth;
}

.section {
  padding: 11rem 37.5rem 0 37.5rem;

  &__heading-box {
    position: relative;
    @include flex-center;
    flex-direction: column;
  }
  &__highlighter {
    display: block;
    width: 51rem;
    height: 2rem;
    transform: translateY(-100%);

    &--yellow {
      background-color: #ffd52b;
    }
    &--green {
      background-color: #32b228;
    }
    &--white {
      background-color: #ffffff;
    }
  }
  &--1 {
    height: 80rem;

    &__info-box {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      margin-top: 7.5rem;
      justify-items: center;

      & > div {
        max-width: 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          text-align: center;
          line-height: 1.4;
        }

        h5 {
          margin: 3rem 0 2.5rem 0;
        }
      }
      .progress-bar {
        width: 13rem;
        height: 13rem;
      }
    }
  }

  &--2 {
    height: 110rem;
    width: 100%;
    background: url(../img/2/bg-2.png) center no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__info-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 5rem;

      h4 {
        margin: 5rem 0 4rem 0;
      }
    }

    &__icon {
      width: 5rem;
      height: auto;
      margin-bottom: 2rem;
    }

    &__names {
      font-family: $gpMedium;
      font-size: 1.6rem;
      color: #fff;
      text-align: center;
    }

    &__grid {
      width: 100%;
      height: 55rem;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(3, 1fr);

      &--item {
        flex-direction: column;
        @include flex-center;
      }
    }
  }

  &--3 {
    width: 100%;
    height: 110rem;

    &__info-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 5rem;

      h4 {
        margin: 9rem 0 3.5rem 0;
      }

      & > div {
        p {
          text-align: center;
          line-height: 1.4;
        }
        h5 {
          margin: 3.5rem 0;
          text-align: center;
          max-width: 33rem;
          font-family: $gpBold;
        }
      }
    }

    &__names {
      font-family: $gpMedium;
      font-size: 1.6rem;
      color: #fff;
      text-align: center;
    }

    &__icon-box {
      width: 13rem;
      height: 13rem;
      border-radius: 20rem;
      border: 0.5rem solid #e8eff5;
      @include flex-center;
    }

    &__icon {
      width: 5rem;
      height: auto;
    }

    &__grid {
      width: 100%;
      height: 40rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;

      &--item {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &--4 {
    position: relative;
    height: 155rem;
    width: 100vw;
    background: #fff;
    padding: 0;
    background: url(../img/4/bg-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;

    &__heading-box {
      @include flex-center;
      width: 31rem;
      height: 6.5rem;
      background-color: #008aff;
      transform: rotate(-5deg) translateX(10%);
      box-shadow: 0.5rem 0.5rem 0 #00000056;
    }

    &__big-txt {
      font-family: $gpBlack;
      font-size: 60px;
      margin-top: 2rem;
      color: #fff;
    }

    .road {
      margin: 55rem 0 0 20%;
      width: 130rem;
      height: 85rem;
      position: relative;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);

      &__background {
        z-index: -1;
        width: 725px;
        height: 574px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .pin {
      width: 62px;
      height: 86px;

      &-1 {
        margin: 6rem 0 0 31.6rem;
      }
      &-2 {
        margin: 11.4rem 62.9rem 0 0;
      }
      &-3 {
        margin: 18rem 0 0 45.9rem;
      }
    }
    .row {
      display: grid;

      grid-template-rows: 1fr;

      &-left {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
      &-right {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
      &-column {
        margin-bottom: 5rem;
      }

      &-1 {
        grid-template-columns: min-content 1fr;
      }
      &-2 {
        grid-template-columns: 1fr min-content;
        grid-template-rows: 1fr;
      }
      &-3 {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
      }
    }

    .text {
      width: 100%;
      height: 100%;

      &-1 {
        text-align: left;
        padding: 4rem 0 0 14rem;
      }
      &-2 {
        text-align: right;
        padding: 8rem 15rem 0 0;
      }
      &-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-right: 32rem;
      }

      h2 {
        font-family: "GothBold", sans-serif;
        font-size: 3rem;
        margin-bottom: 3rem;
      }
      p {
        color: #000;
        font-family: $gpLight;
        font-size: 1.7rem;
        line-height: 1.4;
        max-width: 51rem;
      }
    }
  }

  &--5 {
    height: 67rem;
    background: url(../img/5/bg-5.png) center no-repeat;
    background-size: cover;
    @include flex-center;
    justify-content: flex-start;
    flex-direction: column;

    &__paragraph {
      font-size: 1.6rem;
      text-align: center;
      margin: 3.5rem 0 6.5rem 0;
    }

    &__grid {
      display: grid;
      column-gap: 4.5rem;
      grid-template-columns: repeat(7, min-content);
    }

    &__icon {
      &-box {
        width: 12rem;
        height: 7rem;
        background-color: #fff;
        @include flex-center;
        flex-direction: column;
      }

      &-name {
        text-align: center;
        font-size: 1.6rem;
        font-family: "GothMedium", sans-serif;
        margin-top: 1.5rem;
      }

      width: 5rem;
      height: 5rem;
    }

    &__heading {
      font-size: 2.3rem;
      font-family: "GothBold", sans-serif;
      letter-spacing: 25;
      margin: 7rem 0 12rem 0;
    }
  }

  &--6 {
    height: 97.5rem;

    &__info {
      font-size: 2.2rem;
      line-height: 1.4;
      font-family: $gpLight;
      margin: 4rem 0 4rem 0;
    }

    ///////////////////////// table

    .table {
      width: 100%;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .row {
      height: 7rem;
    }

    .col {
      &-5 {
        border-left: 0.5rem solid #e8e8e8;
        border-right: 0.5rem solid #e8e8e8;
        &--start {
          border-top: 0.5rem solid #e8e8e8;
        }
        &--end {
          border-bottom: 0.5rem solid #e8e8e8;
        }
      }

      &-sm {
        width: 18rem;
        // background: #e67e22;

        &__content {
          @include flex-center;

          h3 {
            font-family: $gpBlack;
            font-size: 1.8rem;
          }
        }

        &__icon {
          &--check {
            width: 2.6rem;
            height: 2rem;
          }

          &--not {
            width: 2rem;
            height: 2rem;
          }
        }

        &__link {
          font-family: $gpMedium;
          font-size: 1.3rem;
          color: #e52121;
          text-decoration: none;
          border: none;
          border-bottom: 1px solid #e52121;
        }

        &__headliner {
          position: relative;

          &-box {
            @include flex-center;
            transform: rotate(-11deg);
            position: absolute;
            top: -5rem;
            left: -3rem;
            width: 19rem;
            height: 4rem;
            background-color: #008aff;
            font-family: $gpBold;
            color: #fff;
            font-size: 1.2rem;
          }
        }
      }

      &-bg {
        width: 40rem;

        &__text {
          font-family: $gpLight;
          font-size: 1.5rem;
          color: #4f4f4f;
        }
      }
    }
  }

  &--7 {
    //height: 70rem;
    background: url(../img/7/bg-7.png), #008aff;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;

    .question {
      width: 100%;
      height: 7rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #fff;
      padding: 0 3rem;
      cursor: pointer;
      z-index: 100;
      transition: height 0.4s;

      &:not(:last-child) {
        border-bottom: 1px solid #e1ebf5;
      }

      &s-box {
        @include flex-center;
        width: 100rem;
        flex-direction: column;
        margin-top: 10rem;
      }

      &__name {
        font-family: $gpBold;
        font-size: 2.6rem;
      }

      &__icon {
        width: 3rem;
        height: 1.7rem;
        transition: all 0.3s ease-in-out;

        &--closed {
          fill: #e2ecf5;
          transform: rotate(180deg);
        }
      }
    }

    .answer {
      width: 100%;
      height: 0;
      @include flex-center;
      background-color: #e2ecf5;
      z-index: 10;
      overflow: hidden;
      transition: height 0.4s, padding-top 0.4s, padding-bottom 0.4s,
        padding-left 0s, padding-right 0s;

      &__text {
        display: block;
        font-family: $gpLight;
        font-size: 1.8rem;
        transform-origin: top;
        z-index: 10;
        transition: all 0.4s 0.4s;
      }
    }
  }

  &--8 {
    // padding-bottom: 10rem;
    height: 165rem;
    position: relative;

    &__info-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 100;
    }

    &__info {
      max-width: 95rem;
    }
    &__text {
      font-family: $gpLight;
      font-size: 1.8rem;
    }

    &__logo {
      margin: 9rem 0 8rem 0;
    }

    &__form {
      margin-top: 10rem;
      &--heading {
        font-size: 3rem;
        font-family: $gpBlack;
        margin-bottom: 4rem;
      }

      &--text {
        font-family: $gpLight;
        font-size: 1.8rem;
        margin-bottom: 6rem;
      }

      &--grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        justify-items: center;

        .col {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .icon-box {
          @include flex-center;
          width: 8rem;
          height: 8rem;
          border-radius: 10rem;
          background: #fff;
          border: 0.4rem solid #e8e8e8;

          .icon {
            width: 28px;
            height: 28px;
            &-1 {
              fill: #43a8f6;
            }
            &-2 {
              fill: #37bb0f;
            }
            &-3 {
              fill: #d60505;
            }
          }
        }

        .link {
          color: #000;
          text-decoration: none;
          border: none;
          margin: 3rem 0 5rem 0;
        }
      }
    }

    .form {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, min-content);
      row-gap: 3rem;
      column-gap: 3rem;

      font-family: $gpLight;

      .input {
        height: 5rem;
        border: 0.4rem solid #e8e8e8;
        padding: 2rem;
        font-size: 1.5rem;

        &::placeholder {
          font-family: $gpLight;
        }

        &--big {
          width: 87rem;
          grid-column: 1 / 4;
        }
        &--small {
          width: 27rem;
        }
      }
      textarea {
        resize: none;
        grid-column: 1 / 4;
        width: 100%;
        height: 19rem;
        border: 0.4rem solid #e8e8e8;
        padding: 2rem;
        font-size: 1.5rem;

        &::placeholder {
          font-family: $gpLight;
        }
      }

      &--btn {
        font-family: $gpBold;
        font-size: 1.6rem;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.2rem;
        color: #fff;

        justify-self: center;
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        margin-top: 2rem;
      }
    }
  }
}

.footer {
  width: 100%;
  height: 22rem;
  background-color: #ffd52a;

  @include flex-center;
  flex-direction: column;

  &__link {
    color: #000;
    text-decoration: none;
    border: none;
    font-size: 1.6rem;
    font-family: $gpMedium;
  }

  &__logo {
    margin: 2rem 0 3rem 0;
  }

  &__copy {
    line-height: 1.4;

    span {
      font-family: $gpBold;
    }
  }
}

.question:hover ~ .asnwer {
  animation: answerSlide 1s;
  display: block;
}
@keyframes answerSlide {
  0% {
    height: 0;
  }
  80% {
    height: 110%;
  }
  0% {
    height: 100%;
  }
}
