// parallax 1
.header {
  overflow-x: hidden;
  &__parallax {
    &--container {
      position: relative;
      width: 100%;
      height: 45rem;
      // overflow: hidden;


      @include breakpointMax(xlarge) {
        height: 40rem;
      }
      @include breakpointMax(xsmall) {
        height: 32rem;
      }

      @include breakpointMax(small) {
        background-position: 10rem 15rem;
        background: url(../img/parallax-1/parallax-mobile.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 170%;
      }
    }

    width: 100%;
    height: 45rem;
    display: flex;
    justify-content: center;
    z-index: 4;

    & > div {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: center;

      @include breakpointMax(small) {
        display: none;
      }

      & > img {
        width: 100%;
        height: 100%;
      }
    }

    & > div:nth-child(3) {
      @include breakpointMax(small) {
        display: flex;
      }
    }

    &--small {
      z-index: 100;
    }
  }
}

// parallax 2

.parallax-2 {
  &__container {
    position: absolute;
    top: -11rem;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    // background: url(../img/parallax-2/parallax-2_bg.png) center;
    // background-repeat: no-repeat;
    // background-size: 100%;
    @include flex-center;
    // display: none;

    @include breakpointMax(xlarge) {
      top: -20rem;
    }

    @include breakpointMax(xmedium) {
      top: -10rem;
      background-position: 10rem 15rem;
      background: url(../img/parallax-2/parallax-2-bg-mobile.svg) center
        no-repeat;
      background-position-y: 10%;
      background-repeat: no-repeat;
      background-size: 200%;
    }
    @include breakpointMax(medium) {
      background-size: 240%;
    }
    @include breakpointMax(small) {
      top: 0;
      background-position: 10rem 15rem;
      // background: url(../img/parallax-2/parallax-2-bg-mobile-sm.svg) center no-repeat;
      background: none;
      background-position-y: 10%;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  &--bg {
    @include breakpointMax(xmedium) {
      padding-top: 15rem;
    }
  }

  position: relative;
  width: 100%;
  height: 100%;
  @include flex-center;

  & > div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    @include flex-center;
    flex-direction: column;
    //background-size: 55%;

    @include breakpointMax(xmedium) {
      display: none;
    }

    & > img {
      width: 100%;
      height: 100%;
    }
  }

  & > div:nth-child(4) {
    padding-top: 20rem;
    justify-content: flex-start;

    @include breakpointMax(xxlarge) {
      padding-top: 25rem;
    }
    @include breakpointMax(xlarge) {
      padding-top: 27rem;
    }
    @include breakpointMax(xmedium) {
      padding-top: 15rem;
      display: flex;
    }
    @include breakpointMax(small) {
      padding-top: 3rem;
    }
  }
}

// parallax 3

.parallax-3 {
  &__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    @include flex-center;
    z-index: -1;

    @include breakpointMax(xmedium) {
      display: none;
    }
  }

  position: relative;
  width: 100%;
  height: 100%;
  @include flex-center;

  & > div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    @include flex-center;
    flex-direction: column;

    & > img {
      width: 100%;
      height: 100%;
    }
  }

  & > div:nth-child(3) {
    // padding-top: 20rem;
    justify-content: flex-start;
  }
}
