@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// fonts
$gpLight : 'GothLight', sans-serif;
$gpMedium : 'GothMedium', sans-serif;
$gpBold : 'GothBold', sans-serif;
$gpBlack : 'GothBlack', sans-serif;