@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// fonts
$gpLight: "GothLight", sans-serif;
$gpMedium: "GothMedium", sans-serif;
$gpBold: "GothBold", sans-serif;
$gpBlack: "GothBlack", sans-serif;

// Breakpoints
$breakpoints: (
  xsmall: 369px,
  small: 499px,
  medium: 699px,
  xmedium: 899px,
  large: 1029px,
  xlarge: 1459px,
  xxlarge: 1859px,
  xxxlarge: 2099px
  
);

@mixin breakpointMax($size) {
  $breakpoint-value: map-get($breakpoints, $size);

  @media screen and (max-width: $breakpoint-value) {
    @content;
  }
}
@mixin breakpointMin($size) {
  $breakpoint-value: map-get($breakpoints, $size);

  @media screen and (min-width: $breakpoint-value) {
    @content;
  }
}
